.index {
  position: absolute;
  top: 5px;
}
.home-services {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0px;
  margin-top: 33px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 149px;
  border-radius: 30px 30px 0px 0px;
  
}
.home-header {
  margin: 0px 33% 0px 0%;
  padding: 0px 0px 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-header h1 {
  
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  line-height: 1.1em;
  font-family: "Raleway", sans-serif;
}
.home-services1 {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 129px;
  border-radius: 0px 0px 0px 0px;
}
.home-header1 {
  margin: 0px 30% 0px 0%;
  padding: 0px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-header1 p {
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  line-height: 1.4em;
  font-family: "Raleway", sans-serif;
}
.home-services2 {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0px 17.3% 0px 18.5%;
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 201px;
  border-radius: 0px 0px 0px 0px;
}
.home-header2 {
  max-width: 100vh;
  flex-direction: column;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  margin: 0px 0% 0px 0%;
  padding-right: 3%;
}
.home-header2 h2 {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  line-height: 1.1em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}
.home-header2 p {
  font-size: 16px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  line-height: 1.7em;
  font-family: "Raleway", sans-serif;
}
.home-services3 {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 1.5%;
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 129px;
  border-radius: 0px 0px 0px 0px;
}
.home-header3 {
  margin: 0px 5% 0px 5%;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.home-header3 h2 {
  font-size: 44px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  line-height: 1.2em;
  font-family: "Raleway", sans-serif;
}
.home-header3 p {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  line-height: 1.4em;
  font-family: "Raleway", sans-serif;
}
.home-services4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 129px;
}
.home-services4 h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Raleway", sans-serif;
}
.home-services5 {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0px 19% 0px 19%;
  color: #000000;
  font-family: "Poppins", sans-serif;
  height: 50vh;
  flex-direction: row;
  gap: 20px;
}

.home-header5 video {
  background-color: #000;
  display: flex;
  height: auto;
  width: 100%;

  margin: 0;
  max-height: 600px;
  box-sizing: border-box;
  object-fit: cover;
}
.home-header51 {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 1.2em;
  font-family: "Raleway", sans-serif;
  width: 100%;
  flex-direction: row;
  max-width: 100vh;
}
.services-home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.services-home-content h2 {
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.3em;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}
.services-home-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services-home-list p {
  line-height: 1.9em;
  font-size: 16px;
  margin-bottom: 6%;
}
.services-home-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  margin: 0px 20% 2% 20%;
  gap: 40px;
}
.home-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px 40px 30px;
  height: 35vh;
  width: 100%;
  color: #ffffff;
  font-size: 30px;
  border-radius: 6px;
}
.home-card:hover {
  color: #000000;
  transition: all 0.3s ease-in-out;
  box-shadow: #dfd7d7 0px 20px 30px 0px;
}
.home-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 15%;
  border: #000000 3px solid;
  width: 90px;
  height: 90px;
  color: #ff2020;
}
.home-card-header:hover {
  color: #1f47fa;
  border: #650fb6 3px solid;
}
.home-card-body p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #000000;
  width: 100%;
  line-height: 1.8em;
}
.home-card-head h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 40px 0px 20px 0px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: #000000;
}
.home-choose {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #000000;
  background-image: url(https://silentsol.com/wp-content/uploads/2024/02/f6301e07-why-choose-us-bg.png);
  border-radius: 30px 30px 0px 0px;
  height: 70vh;
  padding: 85px 0px 315px 0px;
}
.home-header6 {
  margin: 0px 18% 0px 18%;
}
.home-choose-header6 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0% 20px 0%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}
.home-choose-header7 p {
  display: block;
  unicode-bidi: isolate;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}
.home-choose1 {
  display: flex;
  justify-content: start;
  flex-direction: row;
  background-color: #7c0101;
  background-image: url(https://silentsol.com/wp-content/uploads/2024/02/f6301e07-why-choose-us-bg.png);
  border-radius: 0px 0px 30px 30px;
  height: 70vh;
  padding: 85px 0px 315px 0px;
}
.home-header8 {
  display: flex;
  flex-direction: row;
  margin: 0px 18.3% 0px 18.3%;
}
.home-choose-header8 img {
  width: 60vh;
  height: 65vh;
  margin: -205px 40px 0px -85px;
}
.home-career-container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c0101;
  text-decoration: none;
  margin: 20px 43% 0px 43%;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.home-career-container-button :hover {
  color: #ffffff;
  background-color: #beb2b2;
  border-radius: 30px;
}
.home-career-container-button span {
  padding: 14px 45px 14px 35px;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  text-decoration: none;
}
.home-choose2 img {
  width: 100%;
  max-width: 175vh;
  height: 93vh;
  margin-top: 20px;
  margin-left: 170px;
}
.experience-section {
  padding-left: 4rem;
  background-color: none;
  font-family: "Poppins", sans-serif;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}

.experience-heading {
  font-family: "Raleway", Sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1, 2em;
  text-align: start;
  color: #ffffff;
}

.experience-description {
  max-width: 660px;
  margin: 1rem auto 2rem;
  text-align: start;
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}

.skills-container {
  max-width: 660px;
  margin: 0 auto;
}

.skill {
  margin-bottom: 1.5rem;
}

.skill-title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.progress-bar {
  background-color: #263261;
  height: 10px;

  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #09e063;

  transition: width 0.5s ease;
}
.home-box1 {
  display: grid;
  /* Space between items */
  background-color: #000000;
  padding: 4.5% 19% 3% 19%;
  border-radius: 30px 30px 0px 0px;
  box-sizing: border-box;
}
.home-boxes1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  width: 100%;
  overflow: hidden;
}
/* Ensure each box-item stretches to equal height */
.home-box-item1 {
  overflow: hidden;
  height: 440px; /* Set a fixed height for all boxes */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin: 25px 25px 25px 25px;
  border-style: solid;
  border-width: 15px 15px 15px 15px;
  border-color: #ffffff;
  border-radius: 20px;
}
.home-career-container-loadmore span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c0101;

  margin: 20px 45% 0px 45%;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.home-career-container-loadmore :hover {
  color: #ffffff;
  background-color: #beb2b2;
  border-radius: 30px;
}
.home-career-container-loadmore span {
     padding: 12px 30px 12px 30px;
      font-family: "Rubik", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
 

}
/* Responsive */
@media (max-width: 992px) {
  .home-box1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .home-box1 {
    grid-template-columns: 1fr;
  }
}
.home-our-values-img1 {
  width: 100%;
  height: 91.5%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

.home-box-header1 {
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.home-box-text1 {
  padding: 20px;
  text-align: center;
}
.home-box-text1 h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

.home-box-text1 p {
  font-size: 16px;
  color: #444;
}
.home-header9 h2 {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.1em;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  margin-bottom: 30px;
}
.home-faq {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #7c0101;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;

  height: auto;
  padding: 5% 19.1% 4% 19.1%;
  border-radius: 0px 0px 30px 30px;
}
.home-header10 h2 {
  font-family: "Poppins", Sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 20px
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 100%;
  margin: 0rem auto;
}
.accordion-item {
  background-color: #000000;
  border: 1px solid #ccc;
  border-width: 1px;
  color: #ffffff;
  margin: 1.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\203A";
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  border-radius: none;
  transition: transform 0.3s ease-in-out;
}
.accordion-item-header.active::after {
  content: "\203A";
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  background-color: #ffffff;
  color: #000;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  border-radius: 0 0 0.4rem 0.4rem;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
.SliderContainer1 {
  margin: 0% 19% 0px 19%;
  padding: 0px 30px 0px 30px;
  height: 17vh;
  position: relative;
}

.slide-wrapper1 {
  position: relative;
  width: 100%;
  height: 10vh;
}

.slide-img1 {
  margin: 0% 5% 0% 5%;
  gap: 30px;
  height: 7vh;
  width: 100%;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: rgb(138, 138, 138);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.next {
  right: 20px;
}
.prev {
  left: 20px;
}
.partner h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0px 20px 0px;
}
.home-client {
  margin: 0% 20% 3% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-client-header h2 {
  font-family: "ABeeZee", Sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2em;
  color: #000000;
}
.home-client-section {
  margin: 0% 19% 0% 21%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  border: #000 1px solid;
  border-radius: 15px 15px 15px 0px;
}
.home-client-image img {
  border-radius: 15px 15px 15px 0px;
  margin: -55px 0px 0px -40px;
  width: 33vh;
  height: 440px;
  display: block;
  box-shadow: 32px 32px 80px -16px rgba(0, 0, 0, 0.24);
}
.home-client-descrption {
  padding: 80px 100px 30px 30px;
}
.home-client-descrption h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
}
.home-client-descrption p {
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 1em;
}
.home-hello {
  background-color: #000;
  color: #ffffff;
  height: 19vh;
  margin: 8% 19% 0% 19%;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  border-radius: 30px 30px 22px 22px;
}
.home-hello h2 {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  color: #ffffff;
  padding-top: 25px;
}
.home-client-feedback {
  margin: 3.2% 20% 8% 19%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}
.home-feedback-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.home-feedback {
  border: #000 1px solid;
  border-radius: 15px 15px 15px 0px;
  height: 42vh;
  padding: 48px 36px 48px 36px;
}
.home-feedback-logo {
  
  display: block;
  height: 1.7em;
  position: relative;
  width: 1.7em;
 fill: rgba(27, 95, 193, 0.18);
}
.home-feedback-name-image{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.home-feedback-intro{
  display: flex;
  flex-direction: column;
}
.home-feedback-paragraph{
      color: var(--e-global-color-astglobalcolor2);
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 1.5rem;
}
.home-feedback-image img {
  border-radius: 50%;
  width: 40px;
    height: 40px;
}
.home-feedback-name h2{
  color: var(--e-global-color-astglobalcolor2);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.home-feebback-profession{
  display: block;
    font-size: .85em;
    color: #45505F;
}