* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
  position: fixed; /* Make it fixed on top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Ensure it's above all other content */
  background-color:white; /* Optional background color */
  padding: 12px 0px;
  
}

.Menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: end;
  padding: 0px 8% 0px 8%;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
}
.image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 5.1vh;

}
.Menu:any-link :hover {
  color: #b1010a;
  cursor: pointer;
}
.Menu :any-link {
  color: #000000;
  text-decoration: none;
}
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}
.nav-links {
  display: flex;
  gap: 50px;
  margin-left: 20px;
}
.SliderContainer {
  margin-top: 110px;
  width: 100%;
  height: 70vh;
  position: relative;
}

.slide-wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
}

.slide-img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(156, 98, 98);
  text-align: center;
  background-color: none; /* optional overlay */
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 2;
}

.slide-text h1 {
  font-size: 48px;
  margin: 0 0 10px;
}

.slide-text p {
  font-size: 40px;
  margin-bottom: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  cursor: pointer;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}
.active:any-link {
  color: #b90108
}

@media (max-width: 1288px) {
  .Menu {
    padding: 0 5%;
    font-size: 16px;
  }

  .image {
    height: 4.5vh;
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .Menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #000;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
    flex-wrap: nowrap;
  }

  .nav-links.show-menu {
    display: flex;
    flex-direction: column;
    
  }

  .image {
    height: 4vh;
    padding-right: 0;
    margin-bottom: 0; /* Remove bottom space */
  }

  .nav-links a {
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #000;
  }

  .nav-links a:hover {
    color: #b1010a;
  }

  .active {
    color: #b90108;
  }
}

