.contactus {
  padding-top: 5.8%;
}
.contactus-header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #322a2b;
  height: 22.2vh;
  border-radius: 20px 20px 0px 0px;
}
.contactus-header h2 {
  color: #ffffff;
  font-family: "Lato", Sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-left: 18%;
}
.h2-span {
  font-weight: 600;
}
.contactus-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin-top: 2%;
  flex-direction: column;
}
.contactus-message h2 {
  font-family: "Lato", Sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.1em;
   color: #b90108;;
   margin-bottom: 1%;
}
.contactus-message p {
  font-family: "Lato", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1em;
  color: #888;
  margin-bottom: 1%;
}
.contactus-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  gap: 15px;
}

.contactus-form input,
.contactus-form textarea {
  font-family: "Lato", Sans-serif;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.contactus-form textarea {
  resize: both;
}

.contactus-form button {
  padding: 12px;
  background-color: #7c0101;
  color: #fff;
  border-radius: 10px;
  border-color:  #c7c7c7;
  cursor: pointer;
  
 
}

.contactus-form button:hover {
  background-color:#ffffff;
border-radius: 7px;
  transition: all 0.3s ease-in-out;
  color: #000;
}